@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebecee;
  --foreground: #000405;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000405;
    --foreground: #ebecee;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}
